@use "layout";

/*main-section1*/
.about-main {
  img {
    width: 100%;
  }
}

/*main-section2*/
.about-values {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  img {
    width: 50%;
    object-fit: cover;
  }
}
.values-wrap {
  width: 40%;
  div:first-child {
    margin-bottom: 100px;
  }
  .subheading {
    margin-top: 0px;
  }
}
// .values-img {
//   width: 50%;
//   height: 500px;
//   background-size: cover;
// }

.subheading {
  color: #6b6150;
}

/*main-section3*/
.about-values2 {
  width: 67%;
  line-height: 200%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // margin-top: ($background-margin * 3);
  margin-top: (layout.$background-margin * 3);
}
/*진행절차*/
.about-process {
  margin-top: (layout.$background-margin * 3);
  margin-bottom: (layout.$background-margin * 3);
  img {
    width: 100%;
  }
  .filter {
    filter: grayscale(40%);
  }
}
.process-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  div {
    width: 23%;
  }
}
@media screen and (max-width: 768px) {
  .process-wrap {
    div {
      width: 48%;
    }
  }
}
@media screen and (max-width: 576px) {
  .about-values {
    display: block;
    justify-content: center;
    margin-top: 100px;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .values-wrap {
    width: 100%;
    margin-top: 30px;
    div:first-child {
      margin-bottom: 20px;
    }
    .subheading {
      margin-top: 0px;
    }
  }
  .about-values2 {
    width: 80%;
    h3 {
      font-size: 13px;
    }
  }
  
}
