@use "layout";

/*main-section1*/
.about-main {
  // .about-img {
  //   width: 100%;
  //   height: 700px;
  //   background-size: cover;
  //   margin-top: $background-margin;
  //   background-image: url(/es/img/about_main_img.jpg);
  // }
  img {
    width: 100%;
  }
}


/*main-section2*/
.about-values {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  img{
    width: 50%;
    object-fit: cover;
  }
}
.values-wrap {
  width: 40%;
  div:first-child {
    margin-bottom: 100px;
  }
  .subheading {
    margin-top: 0px;
  }
}
.values-img {
  width: 50%;
  height: 500px;
  background-size: cover;
}

.subheading {
  color: #6b6150;
}

/*main-section3*/
.about-values2 {
  width: 67%;
  line-height: 200%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // margin-top: ($background-margin * 3);
  margin-top: (layout.$background-margin * 3);
}
/*진행절차*/
.about-process {
  margin-top: (layout.$background-margin * 3);
  margin-bottom: (layout.$background-margin * 3);
  img {
    width: 100%;
  }
  .filter {
    filter: grayscale(40%);
  }
}
.process-wrap {
  display: flex;
  justify-content: space-between;
  div {
    width: 23%;
  }
}
