$main-color: #1e1913;
$back-color: #edece9;
$font-size: 13px;
$background-margin: 40px;
$h2-fontweight: 500;

@font-face {
  font-family: pretendard-semiBold;
  src: url(../font/woff2/Pretendard-SemiBold.woff2);
}
@font-face {
  font-family: pretendard-mideum;
  src: url(../font/woff2/Pretendard-Medium.woff2);
}
body {
  margin: 0px;
  background-color: $back-color;
  color: $main-color;
  font-family: pretendard-mideum;
  position: relative;
}
main {
  // margin: ($background-margin + 50px);
  margin: ($background-margin*4);
  p {
    line-height: 180%;
  }
}
h4,
h3 {
  font-weight: $h2-fontweight;
  text-align: center;
  margin-top: ($background-margin);
  margin-bottom: ($background-margin);
}
/*네비바*/
nav {
  margin: ($background-margin + 10px);
  display: flex;
  justify-content: space-between;
  font-family: pretendard-mideum;
  font-size: $font-size;
  margin-bottom: $background-margin;
  a {
    text-decoration: none;
    color: $main-color;
  }
}
.about {
  margin-right: $background-margin;
}
.nav-logo {
  width: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/*main-section1*/
.about-main {
  .about-img {
    width: 100%;
    height: 700px;
    background-size: cover;
    margin-top: $background-margin;
    background-image: url(/es/img/about_main_img.jpg);
  }
}
/*main-section2*/
.about-values {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.values-wrap {
  width: 40%;
  div:first-child {
    margin-bottom: 100px;
  }
  .subheading {
    margin-top: 0px;
  }
}
.values-img {
  width: 50%;
  height: 500px;
  background-size: cover;
}
.first-image {
  background-image: url(/es/img/about_img2.jpg);
}
.second-image {
  background-image: url(/es/img/about_img3.jpg);
}
.subheading {
  color: #6b6150;
}

/*main-section3*/
.about-values2 {
  width: 67%;
  line-height: 200%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: ($background-margin*3);
}
/*진행절차*/
.about-process {
  margin-top: ($background-margin*3);
  margin-bottom: ($background-margin*3);
  img {
    width: 100%;
  }
  .filter {
    filter: grayscale(40%);
  }
}
.process-wrap {
  display: flex;
  justify-content: space-between;
  div {
    width: 23%;
  }
}
/*footer*/
footer {
  background-color: $main-color;
  width: 100%;
  height: 300px;
  color: $back-color;
  display: flex;
  font-size: 13px;
}
.footer-logo {
  flex-grow: 1;
  margin-top: ($background-margin*2);
  margin-left: ($background-margin*2);
  img {
    width: 50px;
    margin-bottom: ($background-margin + 50px);
  }
}
.footer-left,
.footer-right {
  margin-right: ($background-margin*2);
  margin-top: ($background-margin*2);
}
.footer-left p:first-child {
  font-weight: 700;
  padding-bottom: ($background-margin - 10px);
  margin: 0px;
}
.footer-right {
  margin-top: ($background-margin - 10px)+95px;
}
