@charset "UTF-8";
@font-face {
  font-family: pretendard-semiBold;
  src: url(../font/woff2/Pretendard-SemiBold.woff2);
}
@font-face {
  font-family: pretendard-mideum;
  src: url(../font/woff2/Pretendard-Medium.woff2);
}
body {
  margin: 0px;
  background-color: #edece9;
  color: #1e1913;
  font-family: pretendard-mideum;
  position: relative;
  width: 100%;
}

main {
  margin: 90px;
}
main p {
  line-height: 180%;
}

h4,
h3 {
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*네비바*/
nav {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  font-family: pretendard-mideum;
  font-size: 13px;
  margin-bottom: 40px;
}
nav a {
  text-decoration: none;
  color: #1e1913;
}

.about {
  margin-right: 40px;
}

.nav-logo {
  width: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*footer*/
footer {
  background-color: #1e1913;
  width: 100%;
  height: 300px;
  color: #edece9;
  display: flex;
  font-size: 13px;
}

.footer-logo {
  flex-grow: 1;
  margin-top: 80px;
  margin-left: 80px;
}
.footer-logo img {
  width: 50px;
  margin-bottom: 90px;
}

.footer-left,
.footer-right {
  margin-right: 80px;
  margin-top: 80px;
}

.footer-left p:first-child {
  font-weight: 700;
  padding-bottom: 30px;
  margin: 0px;
}

.footer-right {
  margin-top: 125px;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0.3;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-end: 30%;
}

.fade-in-text {
  animation: fade-in linear;
  animation-timeline: scroll(10px);
}

@keyframes move-right {
  from {
    transform: translateX(-50px);
    opacity: 0.3;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.move-right {
  animation: move-right linear;
  animation-timeline: view();
  animation-range-end: 50%;
}

/*세션1*/
.main-img img {
  width: 100%;
}

/*세션2*/
.main-portfolio h2,
.main-choice h2 {
  font-weight: 400;
  text-align: center;
  margin-top: 60px;
}

.portfolio-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.portfolio-img img {
  width: 30%;
}

/*세션3*/
.main-sticky {
  height: 900px;
  /* background-color: white; */
  margin-top: 150px;
}

.sticky-text {
  padding-left: 150px;
  width: 37%;
  float: left;
  /* border: 1px solid salmon; */
}

.sticky-text h3 {
  width: 200px;
  font-weight: 500;
  color: #6b6150;
  /* border: 1px solid salmon; */
}

.sticky-text p {
  line-height: 200%;
  width: 330px;
}

.sticky-text div {
  display: flex;
}

.sticky-text div:not(:last-of-type) {
  padding-bottom: 200px;
}

.sticky-img {
  position: sticky;
  top: 30px;
  float: right;
  width: 50%;
}

.sticky-img img {
  width: 100%;
}

/*세션4*/
.main-choice {
  margin-top: 95px;
}

.choice-img {
  margin-top: 95px;
  margin-bottom: 95px;
  display: flex;
  justify-content: space-between;
}

.office,
.house {
  width: 48%;
  height: 600px;
  background-size: cover;
  color: #edece9;
}

.office a,
.house a {
  text-align: center;
  margin-top: 300px;
  color: #edece9;
}

.office a:first-child,
.house a:first-child {
  text-decoration: none;
}

.office h3,
.house h3 {
  text-align: center;
  padding-top: 250px;
  font-size: 30px;
  font-weight: 500;
}

.choice-img h3:hover {
  font-size: 35px;
  transition-duration: 0.5s;
}

.office {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/es/img/home_img6.jpg);
}

.house {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/es/img/home_img7.jpg);
}/*# sourceMappingURL=home2.css.map */