@use "layout";

/*세션1*/
// .main {
//   height: 400px;
// }
.main-img img {
  width: 100%;
}

/*세션2*/
.main-portfolio h2,
.main-choice h2 {
  font-weight: 400;
  text-align: center;
  margin-top: 60px;
}
.portfolio-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.portfolio-img img {
  width: 30%;
}
/*세션3*/
.main-sticky {
  height: 900px;
  /* background-color: white; */
  margin-top: 150px;
}
.sticky-text {
  padding-left: 150px;
  width: 37%;
  float: left;
  /* border: 1px solid salmon; */
}
.sticky-text h3 {
  width: 200px;
  font-weight: 500;
  color: #6b6150;
  /* border: 1px solid salmon; */
}
.sticky-text p {
  line-height: 200%;
  width: 330px;
}
.sticky-text div {
  display: flex;
}
.sticky-text div:not(:last-of-type) {
  padding-bottom: 200px;
}
.sticky-img {
  position: sticky;
  top: 30px;
  float: right;
  width: 50%;
}
.sticky-img img {
  width: 100%;
}
/*세션4*/
.main-choice {
  margin-top: 95px;
}
.choice-img {
  margin-top: 95px;
  margin-bottom: 95px;
  display: flex;
  justify-content: space-between;
}
.office,
.house {
  width: 48%;
  height: 600px;
  background-size: cover;
  color: #edece9;
}
.office a,
.house a {
  text-align: center;
  margin-top: 300px;
  color: #edece9;
}
.office a:first-child,
.house a:first-child {
  text-decoration: none;
}
.office h3,
.house h3 {
  text-align: center;
  padding-top: 250px;
  font-size: 30px;
  font-weight: 500;
}
.choice-img h3:hover {
  font-size: 35px;
  transition-duration: 0.5s;
}
.office {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/es/img/home_img6.jpg);
}
.house {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/es/img/home_img7.jpg);
}
