@use "layout";

/*세션1*/
// .main {
//   height: 400px;
// }
.main-img img {
  width: 100%;
}

/*세션2*/
.main-portfolio h3,
.main-choice h3 {
  font-weight: layout.$h2-fontweight;
  text-align: center;
  margin-top: (layout.$background-margin + 20px);
}
.portfolio-img {
  margin-top: (layout.$background-margin + 20px);
  display: flex;
  justify-content: space-between;
}
.portfolio-img img {
  width: 30%;
}
/*세션3*/
.main-sticky {
  height: 780px;
  /* background-color: white; */
  margin-top: 150px;
}
.sticky-text {
  padding-left: 5%;
  width: 37%;
  float: left;
  /* border: 1px solid salmon; */
  h3 {
    width: 50%;
    font-weight: layout.$h2-fontweight;
    color: #6b6150;
    margin-top: 0;
  }
  p {
    line-height: 200%;
    width: 60%;
    margin-top: 0;
  }
  div {
    display: flex;
  }
  div:not(:last-of-type) {
    padding-bottom: 30%;
  }
}
.sticky-img {
  position: sticky;
  top: 30px;
  float: right;
  width: 48%;
  img {
    width: 100%;
  }
}
/*세션4*/
.main-choice {
  margin-top: 95px;
}
.choice-img {
  margin-top: 95px;
  margin-bottom: 95px;
  display: flex;
  justify-content: space-between;
}
.office,
.house {
  width: 48%;
  height: 600px;
  background-size: cover;
  color: layout.$back-color;
}
.office a,
.house a {
  text-align: center;
  margin-top: 300px;
  color: layout.$back-color;
}
.office a:first-child,
.house a:first-child {
  text-decoration: none;
}
.office h3,
.house h3 {
  text-align: center;
  padding-top: 250px;
  font-size: 30px;
  font-weight: layout.$h2-fontweight;
}
.choice-img h3:hover {
  font-size: 35px;
  transition-duration: 0.5s;
}
.office {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../es/img/home_img6.jpg);
}
.house {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../es/img/home_img7.jpg);
}


@media screen and (max-width: 992px) {
  .main-sticky {
    height: 900px;
    display: block;
    margin-top: (layout.$background-margin * 2);
  }
  .sticky-text {
    padding-left: 0;
    width: 100%;
    div:not(:last-of-type) {
      padding-bottom: 5%;
    }
    h3 {
      width: 30%;
    }
    p {
      width: 65%;
    }
    .portfolio-img {
      margin-top: 0;
    }
  }
  .sticky-img {
    // position: none;
    width: 100%;
    margin-top: layout.$background-margin;
  }
  .main-choice {
    margin-top: 0px;
  }

  .office,
  .house {
    height: 300px;

    h3 {
      font-size: 18px;
      text-align: center;
      padding-top: 15%;
    }
  }
  .choice-img {
    margin-top: layout.$background-margin;
    margin-bottom: layout.$background-margin;
  }
  .choice-img h3:hover {
    font-size: 23px;
    transition-duration: 0.5s;
  }
}


@media screen and (max-width: 576px) {
  .main-sticky {
    height: 650px;
    margin-top: layout.$background-margin;
  }
}
