@charset "UTF-8";
@font-face {
  font-family: pretendard-semiBold;
  src: url(../font/woff2/Pretendard-SemiBold.woff2);
}
@font-face {
  font-family: pretendard-mideum;
  src: url(../font/woff2/Pretendard-Medium.woff2);
}
body {
  margin: 0px;
  background-color: #edece9;
  color: #1e1913;
  font-family: pretendard-mideum;
  position: relative;
  width: 100%;
}

main {
  margin: 90px;
}
main p {
  line-height: 180%;
}

h4,
h3 {
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*네비바*/
nav {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  font-family: pretendard-mideum;
  font-size: 13px;
  margin-bottom: 40px;
}
nav a {
  text-decoration: none;
  color: #1e1913;
}

.about {
  margin-right: 40px;
}

.nav-logo {
  width: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*footer*/
footer {
  background-color: #1e1913;
  width: 100%;
  height: 300px;
  color: #edece9;
  display: flex;
  font-size: 13px;
}

.footer-logo {
  flex-grow: 1;
  margin-top: 80px;
  margin-left: 80px;
}
.footer-logo img {
  width: 50px;
  margin-bottom: 90px;
}

.footer-left,
.footer-right {
  margin-right: 80px;
  margin-top: 80px;
}

.footer-left p:first-child {
  font-weight: 700;
  padding-bottom: 30px;
  margin: 0px;
}

.footer-right {
  margin-top: 125px;
}

/*animation*/
@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0.3;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-end: 30%;
}

@keyframes move-right {
  from {
    transform: translateX(-50px);
    opacity: 0.3;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.move-right {
  animation: move-right linear;
  animation-timeline: view();
  animation-range-end: 50%;
}

@media screen and (max-width: 1200px) {
  main {
    margin: 40px;
  }
  h4,
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
}
.choice-img h3 {
  font-size: 18px;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  main {
    margin: 20px;
  }
  nav {
    font-size: 10px;
    margin: 20px;
    margin-bottom: 40px;
  }
  footer {
    height: 10%;
  }
  footer p {
    font-size: 10px;
  }
  .footer-logo {
    flex-grow: 1;
    margin-top: 5%;
    margin-left: 5%;
  }
  .footer-logo img {
    width: 40px;
    margin-bottom: 15%;
  }
  .footer-left,
  .footer-right {
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .footer-left p:first-child {
    padding-bottom: 5%;
  }
  .footer-right {
    margin-top: 9%;
  }
}
@media screen and (max-width: 576px) {
  main {
    margin: 20px;
  }
  nav {
    font-size: 10px;
    margin: 20px;
    margin-bottom: 40px;
  }
  .footer-logo img {
    width: 30px;
    margin-bottom: 30%;
  }
}
/*세션1*/
.main-img img {
  width: 100%;
}

/*세션2*/
.main-portfolio h3,
.main-choice h3 {
  font-weight: 500;
  text-align: center;
  margin-top: 60px;
}

.portfolio-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.portfolio-img img {
  width: 30%;
}

/*세션3*/
.main-sticky {
  height: 780px;
  /* background-color: white; */
  margin-top: 150px;
}

.sticky-text {
  padding-left: 5%;
  width: 37%;
  float: left;
  /* border: 1px solid salmon; */
}
.sticky-text h3 {
  width: 50%;
  font-weight: 500;
  color: #6b6150;
  margin-top: 0;
}
.sticky-text p {
  line-height: 200%;
  width: 60%;
  margin-top: 0;
}
.sticky-text div {
  display: flex;
}
.sticky-text div:not(:last-of-type) {
  padding-bottom: 30%;
}

.sticky-img {
  position: sticky;
  top: 30px;
  float: right;
  width: 48%;
}
.sticky-img img {
  width: 100%;
}

/*세션4*/
.main-choice {
  margin-top: 95px;
}

.choice-img {
  margin-top: 95px;
  margin-bottom: 95px;
  display: flex;
  justify-content: space-between;
}

.office,
.house {
  width: 48%;
  height: 600px;
  background-size: cover;
  color: #edece9;
}

.office a,
.house a {
  text-align: center;
  margin-top: 300px;
  color: #edece9;
}

.office a:first-child,
.house a:first-child {
  text-decoration: none;
}

.office h3,
.house h3 {
  text-align: center;
  padding-top: 250px;
  font-size: 30px;
  font-weight: 500;
}

.choice-img h3:hover {
  font-size: 35px;
  transition-duration: 0.5s;
}

.office {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/es/img/home_img6.jpg);
}

.house {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/es/img/home_img7.jpg);
}

@media screen and (max-width: 992px) {
  .main-sticky {
    height: 900px;
    display: block;
    margin-top: 80px;
  }
  .sticky-text {
    padding-left: 0;
    width: 100%;
  }
  .sticky-text div:not(:last-of-type) {
    padding-bottom: 5%;
  }
  .sticky-text h3 {
    width: 30%;
  }
  .sticky-text p {
    width: 65%;
  }
  .sticky-text .portfolio-img {
    margin-top: 0;
  }
  .sticky-img {
    width: 100%;
    margin-top: 40px;
  }
  .main-choice {
    margin-top: 0px;
  }
  .office,
  .house {
    height: 300px;
  }
  .office h3,
  .house h3 {
    font-size: 18px;
    text-align: center;
    padding-top: 15%;
  }
  .choice-img {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .choice-img h3:hover {
    font-size: 23px;
    transition-duration: 0.5s;
  }
}
@media screen and (max-width: 576px) {
  .main-sticky {
    height: 650px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=home2.css.map */