
@use 'layout';

/*main*/
.main-heading {
  h3 {
    margin-bottom: 0;
  }
}
.portfolio-choice {
  margin-top: (layout.$background-margin/2);
  margin-bottom: (layout.$background-margin * 3);
  display: flex;
  justify-content: space-between;
  width: 180px;
  //   border: 1px solid salmon;
  a {
    text-decoration: none;
    color: layout.$main-color;
  }
  p {
  }
  p::after {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: 1px layout.$main-color solid;
    transition: all 0.3s;
    transform: scaleX(0);
  }
  p:hover::after {
    transform: scaleX(1);
  }
}
.portfolio-grid {
  // width: 100%;
  // max-width: 1000px;
  margin-top: (layout.$background-margin * 2);

  display: grid;
  grid-gap: (layout.$background-margin * 2) (layout.$background-margin);
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 450px 450px 400px;
  grid-template-rows: 400px 400px 400px 400px;
  // border: 1px solid salmon;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1);
    transition-duration: 0.2s;
  }
  div {
    overflow: hidden;
  }
  img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
}
.portfolio-grid-text {
  margin-left: (layout.$background-margin * 2);
  position: relative;
}
.portfolio-grid-head p {
  margin: 0;
}
.portfolio-grid-head p:first-child {
  font-size: 20px;
}
.portfolio-grid-contents {
  display: flex;
  margin-top: 20px;
  p {
    margin: 0;
  }
}
.subheading {
  color: #6b6150;
  margin-right: 30px;
}
.contents-more {
  p {
    position: absolute;
    bottom: 0%;
    margin: 0%;
    color: #6b6150;
    font-size: 14px;
    border-bottom: 1px solid #6b6150;
  }
}
